version: "3.8"

services:
  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: quis
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quis_dev
    ports:
      - "5433:5432"
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "bundle install && yarn install && rm -f tmp/pids/server.pid && bin/dev"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgres://quis:password@db:5432/quis_dev
      REDIS_URL: redis://redis:6379/0
    tty: true
    stdin_open: true

volumes:
  postgres_data:
  bundle_cache: